
<% @facilities.each do |facility| %>
   
     
    <div class="card" style="width: 18rem;">

    <h4><%= facility.full_address%> </h4>
    <br><br>
    <h5>bookings:</h5>
    <ul>
    <div class="card-body body">
        <p><% facility.bookings.each do |booking| %></p>
            <li> <%= "#{booking.course.title} booked_from #{booking.start_time} to #{booking.end_time}"%></li>
        <% end %>
    </ul>
    <br>
<% end %> 
