<%# placeholder links %>
<div>
    <%= link_to 'All Facilities', facilities_index_path %> |
    <%= link_to 'Add Facility', new_facility_path %> |
    <%= link_to 'Book'%>
</div>
<br>

<%= render "form" %>
