<div class="container">
    <h1>All Facilities</h1>
</div>

<% if current_user&.is_admin?%>
    <div class="container">
            <%= link_to 'Add Facility', new_facility_path, class: "btn btn-outline-info" %>
    </div>
    <br>
<% end %>
<% if @taggings.present? %>
    <small>Select a tag to filter:
    </small>
    <% @taggings.each do |tagging| %>
      <%= link_to(
        tagging.tag.name, filtered_facilities_path(tag: tagging.tag.name),
        class: 'badge badge-pill badge-primary'
      )%>
    <% end %>
<% end%>
<div class="container" style="justify-content: flex-start">

</div>
<hr>

<!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <% @facilities.each do |facility|%>
            <div class="swiper-slide" style="background-image:url(/images/image<%= rand(1..7) %>.jpg)">
                <%= link_to "Click To View", facility_path(facility.id), class: "btn btn-secondary" %>
            </div>
        <% end %>
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      const swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    }
      });
    </script>

<br>
<br>
<div class="container">
    <h2>Turn Any Space Into a Classroom</h2>
</div>
<br>
<br>
<div class="container icons-container">
    <div class="">
        <div class="">
            <img src="https://www.datocms-assets.com/53643/1633107606-1630957152-award-badge-star-1.svg" style="height:40px;width:auto;max-width:none" class="">
        </div>
        <div class="">
            <h3 class="">High Quality</h3>
            <p class="">Maintained and managed by our experts</p>
        </div>
    </div>
    <div class="">
        <div class="">
            <img src="https://www.datocms-assets.com/53643/1633108268-1630999645-group.svg" style="height:40px;width:auto;max-width:none" class="">
        </div>
        <div class="">
            <h3 class="">Affordable</h3>
            <p class="">Flexible rates and rental times</p>
        </div>
    </div>
    <div class="">
        <div class="">
            <img src="https://www.datocms-assets.com/53643/1633108254-1630999636-fingerprint.svg" style="height:40px;width:auto;max-width:none" class="">
        </div>
        <div class="">
            <h3 class="">Personalized</h3>
            <p class="">Customizable spaces to fit your needs</p>
        </div>
    </div>
</div>
<br>
<hr>
<div class="container">
    <h4>Why Book With Class-ify?</h4>
</div>
<br>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quaerat aliquid ut, quia incidunt accusantium cum omnis nihil ab repellendus quis eligendi fugit minus quas iure eos vero? Quaerat, eveniet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut quisquam voluptas neque repellat quos blanditiis consequatur maxime rerum? Nam molestias commodi dolor voluptate laudantium, nostrum dolorum rerum? Eligendi, esse.</p>
<div>
</div>







