<h1>All Facilities</h1>

<%# the following links work but are temporary placeholders for now %>
<div>
    <% if current_user&.is_admin? %>
        <%= link_to 'Add Facility', new_facility_path %> |
    <% end %>
    <%= link_to 'Book'%>
</div>
<hr>
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <% @facilities.each do |facility|%>
    <div class="swiper-slide">
    <%= image_tag("/images/facility-background.jpeg", :alt => "rss feed") %>
    <%= link_to(facility.full_address, facility_path(facility.id)) %>
    </div>
    <% end %>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
    // Optional parameters
    //   direction: 'vertical',
    loop: true,

    // If we need pagination
    pagination: {
        el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
        el: '.swiper-scrollbar',
    },
    });
</script>

<div>
    <%# @facilities.each do |facility| %>
        <div> 
            <h3>
                <%#= link_to(facility.full_address, facility_path(facility.id)) %>
            </h3>
            <p><%#= facility.features %></p>
        </div>
    <%# end %> 
</div>




