<h1>All Facilities</h1>
<div>
    <%= link_to 'Add Facility', new_facility_path %> |
    <%= link_to 'Book'%>
</div>
<hr>
<div>
    <% @facilities.each do |facility| %>
        <div> 
            <h3>
                <%= link_to(facility.full_address, facility_path(facility.id)) %>
            </h3>
            <p><%= facility.features %></p>
        </div>
    <% end %> 
</div>