<h1>Enrolled Courses</h1>
<div class="d-flex flex-wrap">
<% @enrollments.each do |enrollment|%>
  <div class="card my-3 mx-3 col-12 col-sm-12 col-md-3">
    <%= link_to(enrollment.course.title, course_path(enrollment.course), class:"card-title") %>
    <hr>
    <div class="card-body">
      <% if enrollment.is_teacher %>
        <%= image_tag "teacher-svgrepo-com.svg", size:"100x100" %>
        <hr>
        You are teaching this course
        <% %>
      <% else %>
        <% if enrollment.approved %>
          <%= image_tag "student-svgrepo-com.svg", size:"100x100" %>
          <hr>
          <span class="enrolled">You are a student of this class</span>
        <% else %>
          <%= image_tag "pending.jpeg", size: "120x100", class: "pendingImg" %>
          <hr>
          <span class="pending">Your enrollment is pending </span>
          <% end%>
        <%#= enrollment.approved ? "You are a student of this class":"Your enrollment is pending"%>
      <% end %>
    </div>
  </div>
<% end %>