<h1>Enrolled Courses</h1>

<% @enrollments.each do |enrollment|%>
  <div>
    <%= link_to(enrollment.course.title, course_path(enrollment.course)) %>
    <%= enrollment.approved ? "approved":"pending"%>
  </div>
<% end %>