<div class="container flex-column">
<h1>Courses</h1>
<div class="row">
<% @courses.each do |course|%>
    <div class="card col-xs-11 col-sm-11 col-md-5 col-lg-3 col-xlg-3 m-4">
        <%= image_tag Faker::LoremFlickr.image(size: "100x100", search_terms: ['computer science']), class: "card-img-top" %>
        <div class="card-body">
            <h3 class="card-title"><%= link_to(course.title, course_path(course.id))%></h3>
            <p class="card-text"><%= course.description.truncate_words(20)%></p>
            <small>Class Size: <%= course.max_students%></small>
        </div>
    </div>
<%end%>

</div>
</div>
